SERVER_HOST=127.0.0.1
SERVER_PORT=3000

DB_URL=jdbc:postgresql://127.0.0.1:5432/censusmate?sslmode=disable
DB_USER=user
DB_PASSWORD=password
DB_MAX_POOL_SIZE=10

DADATA_API_KEY=
DADATA_SECRET_KEY=

USERS_PASSWORD_MIN_LEN=12

JWT_SECRET=default-secret
JWT_ISSUER=censusmate
JWT_AUDIENCE=censusmate-users
JWT_EXPIRATION_HOURS=24